<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Cards</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="starting-page-container">   
        <header>
            <h1 style="color:red;text-align:center;">Welcome to ECF LEGENDS</h1>
        </header>
        <main>
            <section class="buttons">
                <a href="/collection" class="btn">
                    <img src="/images/Ziehen.svg" alt="icons" style="position:fixed; top:25%; left:2.5%; width:30%; height:auto;">
                </a>
                <a href="/collection" class="btn">
                    <img src="/images/Sammlung.svg" alt="icons" style="position:fixed; top:25%; left:35%; width:30%; height:auto;">
                </a>
                <a href="/collection" class="btn">
                    <img src="/images/Tauschen.svg" alt="icons" style="position:fixed; top:25%; right:2.5%; width:30%; height:auto;">
                </a>
            </section>
        </main>
    </div>
</body>
</html>