<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Cards</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="starting-page-container">
        <main>
            <section class="buttons">
                <a href="/collection" class="btn">
                    <img src="/images/Ziehen.svg" alt="icons" style="position:fixed; top:200px; left:30px;" width="550" height="550">
                </a>
                <a href="/collection" class="btn">
                    <img src="/images/Sammlung.svg" alt="icons" style="position:fixed; top:200px; left:700px;" width="550" height="550">
                </a>
                <a href="/collection" class="btn">
                    <img src="/images/Tauschen.svg" alt="icons" style="position:fixed; top:200px; right:30px;" width="550" height="550">
                </a>
            </section>
        </main>
    </div>
</body>
</html>