<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Cards</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="starting-page-container">
        <header>
            <h1>Welcome to the Trading Card Game</h1>
        </header>
        <main>
            <section class="instructions">
                <h2>Instructions</h2>
                <p>Welcome to the Trading Card Game! Explore your collection draw new cards and trade with other players.</p>
            </section>
            <section class="buttons">
                <a href="/collection" class="btn">
                    <img src="/images/Icons.svg" alt="icons">
                </a>
            </section>
        </main>
    </div>
</body>
</html>