/* public/styles/style.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/start-page.svg');
    background-attachment: fixed;
    }

.buttons {
    display: flex; /* Use flexbox to layout items */
    justify-content: center; /* Center items horizontally */
}

.buttons a {
    max-width: 200px; /* Set maximum width for the buttons */
    width: 30%; /* Set a percentage width for responsiveness */                                                                                                                                                                                                                             
    margin: 0 10px; /* Add some margin between buttons */
}